.profile-card {
  background-color: var(--post-bg-color);
  color: var(--text-color);
  box-shadow: none !important;
  padding: 0;
}

.profile-card .card-body {
  padding: 0.2em;
}

.profile-card button {
  width: 100%;
}

.profile-card-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.4em;
}
