/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
*/

/* NavMenu.css */
.navbar {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--brand-color);
}

.navbar-brand:hover {
    color: var(--brand-color-darker);
}

.nav-link {
    font-size: 1rem;
}
