* {
  box-sizing: border-box;
}

:root {
  --bg-color: #f8f9fa;
  --text-color: #000000;
  --btn-color: #000000;
}

[data-theme="dark"] {
  --bg-color: #343a40;
  --text-color: #ffffff;
  --btn-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.btn-toggle {
  color: var(--btn-color);
  border-color: var(--btn-color);
}
