.photo-collage {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.top-photo-container {
  width: 100%;
  margin-bottom: 4px;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-title {
  font-size: 1.5rem;
  position: fixed;
}

.top-photo {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
  cursor: pointer;
}

.bottom-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.bottom-photo-container {
  position: relative;
  overflow: hidden;
  padding-top: 66.66%; /* 4:3 aspect ratio */
}

.bottom-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.modal-collage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.modal-photo-container {
  width: 80%;
  position: relative;
  overflow: hidden;
}

.modal-content {
  background-color: var(--post-bg-color);
}

.modal-header {
  border-bottom-color: var(--text-color-light);
}

.modal-photo {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.modal-arrow {
  background: var(--btn-bg-dark) !important;
  border: none;
  color: var(--text-color) !important;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, opacity 0.3s;
  font-family: "Roboto", sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.modal-arrow.left {
  left: 20px;
}

.modal-arrow.right {
  right: 20px;
}

.modal-arrow:hover.left {
  transform: translateY(-50%) translateX(-10px);
}

.modal-arrow:hover.right {
  transform: translateY(-50%) translateX(10px);
}

.modal-arrow > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.side-button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s, opacity 0.3s;
  opacity: 0;
  z-index: 5;
}

.side-button.left {
  left: 0;
}

.side-button.right {
  right: 0;
}

.side-button:hover {
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.5;
}

.side-button:hover .modal-arrow.left {
  transform: translateY(-50%) translateX(-10px);
}

.side-button:hover .modal-arrow.right {
  transform: translateY(-50%) translateX(10px);
}

@media (max-width: 768px) {
  .modal-arrow.left {
    left: 10px;
  }

  .modal-arrow.right {
    right: 10px;
  }
  .bottom-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .modal-arrow.left {
    left: 0;
  }

  .modal-arrow.right {
    right: 0;
  }

  .bottom-row {
    grid-template-columns: 1fr;
  }
}
