.post-wrapper {
  background-color: var(--post-bg-color);
}

.post-bottom-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-button-container {
  display: flex;
  flex-direction: row !important;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--post-bg-color);
}

.post-time {
  font-size: 0.8rem;
  color: var(--text-color-light);
}

.post-button {
  display: flex;
  text-align: center !important;
  align-items: center;
  justify-content: center;
}

.post-title {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
}

.post-title:hover {
  color: var(--text-color);
  text-decoration: underline;
}

.post-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
}

.post-user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-color);
}

.post-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.post-user-image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.post-image {
  border-top: 1px solid var(--text-color-light);
  border-bottom: 1px solid var(--text-color-light);
}

.post-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
}

.post-stat-link {
  text-decoration: none;
  color: var(--text-color-light);
  font-size: 0.9rem;
}

.post-stat-link:hover {
  text-decoration: underline;
  color: var(--text-color);
}

.post-collage-container {
  width: 100%;
  margin: 0 auto;
}

.post-comment {
  padding: 0;
}

/* post comment section */
.post-comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0 !important;
}

.post-comment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  margin-bottom: 4px;
  padding: 0;
}

.post-comment-view-btn {
  text-decoration: none;
  color: var(--text-color);
  background-color: transparent !important;
  border: none;
  cursor: pointer;
  padding: 0;
}

.post-comment-view-btn:hover,
.post-comment-view-btn:focus,
.post-comment-view-btn:active {
  text-decoration: underline;
  color: var(--text-color) !important;
}

.post-comment-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-color);
  padding: 0;
}

.post-comment-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--comment-bg-color);
  color: var(--text-color);
  padding: 8px;
  border-radius: 12px;
  margin: 4px 8px;
}

.post-right-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}

.post-comment-user-btn {
  text-decoration: none;
  color: var(--text-color);
  background-color: transparent !important;
  border: none;
  cursor: pointer;
  padding: 0;
  font-weight: bold;
  font-size: 0.9rem;
}

.post-comment-user-btn:hover,
.post-comment-user-btn:focus,
.post-comment-user-btn:active {
  text-decoration: underline;
  color: var(--text-color) !important;
}

.post-comment-text {
  color: var(--text-color);
  font-size: 0.9rem;
}

.user-comment-image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.post-comment-actions {
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  width: 40%;
  padding: 0;
}

.post-comment-actions > .btn {
  background-color: transparent !important;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  padding: 0;
  flex: 1;
  text-align: center;
  font-size: 0.9rem;
}

.post-comment-actions > .btn:active,
.post-comment-actions > .btn:hover,
.post-comment-actions > .btn:focus {
  background-color: transparent !important;
  text-decoration: underline;
}

.post-self-comment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 4px 0;
  padding: 0;
}

.comment-input-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 0 0 8px !important;
}

.post-self-comment-image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.comment-input {
  background-color: var(--comment-bg-color) !important;
  border-radius: 18px;
  border: none;
}
