.profile-content-wrapper {
  display: flex;
  flex-direction: row;
  max-width: var(--header-max-width);
  margin: 0 auto;
  position: relative;
  background-color: transparent;
  padding: 12px;
  gap: 1.2em;
}

@media (max-width: 768px) {
  .profile-content-wrapper {
    flex-direction: column;
  }
}

.profile-column {
  /* flex: 1 1 50%; */
  border-radius: 8px;
}

.profile-content-right {
  flex: 3;
  padding: 1.4em;
  background-color: var(--post-bg-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-content-left {
  flex: 1;
}

.profile-column img {
  display: block;
  max-width: 100%;
  margin-bottom: 0.5em;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 80px; /* required to simulate padding */
  background-color: var(--post-bg-color);
  border-radius: 8px;
  padding: 1.4em;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--post-bg-color);
  color: var(--text-color);
}
