:root {
  --header-padding: 16px;
  --header-max-width: 1024px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  background-color: var(--post-bg-color);
}

.profile-upper-header-details {
  display: flex;
  flex-direction: column;
}

.profile-header-user-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 var(--header-padding);
}

.profile-upper-left-header-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-header-image {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  height: 150px;
  position: relative;
  display: block;
  z-index: 1;
  overflow: hidden;
  margin-top: 0;
  max-height: 100%;
  padding: 0;
}

.profile-header-image img {
  width: 100%;
  object-fit: contain;
  object-position: center top;
}

@media (min-width: 576px) {
  .profile-header-image {
    height: 245px;
  }
}

@media (min-width: 768px) {
  .profile-header-image {
    height: 320px;
  }
}

.profile-header-user-details {
  max-width: var(--header-max-width);
  margin: 0 auto;
  margin-top: -32px;
  z-index: 2;
}

.profile-header-row > img {
  height: 168px;
  width: 168px;
  border-radius: 50%;
  padding: 0;
  border: 4px solid var(--bg-color);
}

.profile-header-name-friends {
  margin-top: 42px;
}

.friends-num-text {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 4px;
  color: var(--text-color-light);
}

.profile-edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-bg-dark) !important;
  color: var(--btn-color) !important;
}

.profile-edit-button:hover {
  background-color: var(--btn-bg-darker) !important;
}

.profile-edit-button:active {
  transform: scale(0.95);
}

.profile-lower-header-details {
  padding: 0 var(--header-padding);
  max-width: var(--header-max-width);
  width: 100%;
  margin: 0 auto;
}

.profile-lower-header-details > hr {
  margin: 24px 0;
  width: 100%;
}
