/* NavMenu.css */
.navbar {
  position: relative;
  background-color: var(--navbar-bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  border-bottom-color: var(--navbar-line-color) !important;
  height: var(--header-height);
  padding: 0;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .navbar {
    height: auto;
    flex-direction: column;
  }
}

.navbar > .container-fluid {
  height: 100%;
  align-items: center;
}

.tabs-container {
  position: absolute !important;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* medium breakpoint for tabs container */
@media (max-width: 768px) {
  .tabs-container {
    position: relative !important;
    height: 100%;
    width: 100%;
    transform: none;
    left: auto;
    top: auto;
    justify-self: center !important;
  }
  .layout-box {
    padding-top: var(--header-double-height) !important;
  }
}

.nav-item-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--brand-color);
}

.navbar-brand:hover {
  color: var(--brand-color-darker);
}

.nav-link {
  font-size: 1rem;
  color: var(--text-color);
}
