/* NavMenu.css */
.navbar {
  background-color: var(--navbar-bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  border-bottom-color: var(--navbar-line-color) !important;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--brand-color);
}

.navbar-brand:hover {
  color: var(--brand-color-darker);
}

.nav-link {
  font-size: 1rem;
}
