/* IconButton.css */
.btn-nav {
  background-color: transparent !important;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  align-items: center;
  width: 100% !important;
}

.btn-nav-img {
  padding: 8px;
}

.btn-nav:hover {
  background-color: var(--btn-bg-dark) !important;
}

.btn-nav:active {
  background-color: var(--btn-bg-darker) !important;
}

.btn-nav .mr-2 {
  margin-right: 8px;
}

.btn-nav .nav-icon {
  font-size: 1.3rem;
}

.btn-nav .btn-img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  border-radius: 50%;
}
