.friends-sidebar {
  position: fixed;
  background-color: var(--post-bg-color) !important;
  margin-top: 0px;
  height: 100%;
  overflow-y: auto;
}

.friends-tab {
  cursor: pointer;
  font-size: 1.15rem;
}

.friends-tab.active {
  color: var(--brand-color);
  font-weight: bold;
}
