.friends-sidebar {
  background-color: var(--post-bg-color) !important;
  margin-top: 0px;
  position: fixed;
  height: 100%;
}

.friends-tab {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
}

.friends-tab.active {
  color: var(--brand-color);
  font-weight: bold;
}
