.btn-tab {
  width: 120px;
  height: 46px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  background-color: transparent !important;
  color: var(--btn-color);
}

@media (max-width: 1200px) {
  .btn-tab {
    width: 90px;
  }
}

.btn-tab:hover {
  background-color: var(--btn-bg-dark) !important;
  color: var(--btn-color) !important;
}

.btn-tab:active {
  background-color: transparent !important;
  color: var(--btn-color) !important;
}

.btn-tab.selected {
  height: var(--header-height);
  border-radius: 0;
  border-bottom: 4px solid var(--brand-color);
  color: var(--brand-color);
}

.btn-tab.selected:hover {
  border-radius: 0;
  border-bottom: 4px solid var(--brand-color);
  background-color: transparent !important;
  color: var(--brand-color) !important;
}

.btn-tab:not(:first-of-type) {
  margin-left: 5px;
}

.tab-icon {
  font-size: 1.65rem;
}

.tab-tooltip .tooltip-inner {
  background-color: var(--tooltip-bg-color);
  color: var(--tooltip-text-color);
  font-size: 14px;
  border-radius: 4px;
  padding: 10px;
}

.tab-tooltip .tooltip-arrow::before {
  border: none;
}
