.friends-page {
  display: flex;
  min-width: 900px;
  min-height: calc(100vh - var(--header-height));
  position: relative;
  /* margin-top: var(--header-height); */
}

.friends-sidebar-wrapper {
  /* display: flex; */
  width: 360px;
  flex-shrink: 0;
}

.friends-sidebar {
  width: 360px;
}

.fixed-sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 360px;
  min-height: inherit;
}

.friends-page-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: calc(100% - 360px);
  min-width: 0;
  min-height: inherit;
  position: relative;
  z-index: 0;
  margin-left: 24px;
}

.friend-requests {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: start;
}

@media (max-width: 960px) {
  .user-grid {
    justify-content: center;
  }

  .friend-requests {
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .friends-sidebar-wrapper {
    display: none;
  }

  .friends-page-content {
    margin-left: 0;
    width: 100%;
    max-width: 100vw;
  }
}

.friends-page-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
  padding: 0;
}
