* {
  box-sizing: border-box;
}

:root {
  --bg-color: #f8f9fa;
  --bg-color-darker: #e9ecef;
  --btn-bg-dark: #e4e6e9;
  --btn-bg-darker: #d1d3d8;
  --text-color: #000000;
  --navbar-bg-color: #ffffff;
  --sidebar-bg-color: #e9ecef;
  --navbar-line-color: #e9ecef;
  --btn-color: #000000;
  --tooltip-bg-color: #39393a;
  --tooltip-text-color: #ffffff;
  --color-toggle-light: #f6d447;
  --color-toggle-dark: #2d0697;
  --brand-color: #007bff;
  --brand-color-darker: #0056b3;
  --header-height: 56px;
}

[data-theme="dark"] {
  --bg-color: #18191a;
  --bg-color-darker: #23272b;
  --btn-bg-dark: #303031;
  --btn-bg-darker: #1e1e1e;
  --text-color: #ffffff;
  --navbar-bg-color: #23272b;
  --sidebar-bg-color: #3a3f44;
  --navbar-line-color: #3a3f44;
  --btn-color: #ffffff;
  --tooltip-bg-color: #c8c8c8;
  --tooltip-text-color: #000000;
  --brand-color: #6eb4ff;
  --brand-color-darker: #2c3647;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}

.post-container {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container-clean {
  padding: 0 !important;
  overflow-x: hidden;
}

.btn {
  border: none;
  background-color: var(--btn-bg-dark);
  color: var(--btn-color);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  color: var(--btn-color);
  background-color: var(--btn-bg-dark);
}

.btn:active {
  color: var(--btn-color);
  background-color: var(--btn-bg-darker);
}
